<section class="py-lg-20 py-12">
  <div class="container">
    <div
      class="d-flex justify-content-lg-between flex-lg-row flex-column align-items-center"
    >
      <h6 class="fs-lg-2 fs-4 mb-lg-0 mb-4">想看什麼主題由你決定！</h6>
      <div class="d-lg-block d-flex flex-column align-items-center">
        <p class="fs-lg-4 fs-5 ls-widest mb-lg-4 mb-9">歡迎投稿與我們分享</p>
        <a class="btn" href="#">聯絡我們</a>
      </div>
    </div>
  </div>
</section>
