<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre 私人島嶼的露營奇遇記</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <!-- copyright -->
    <%- include('./layout/copyright'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
